
.hero{
    width: 100%;
    height: 70vh;
    background-image: url("https://image.tmdb.org/t/p/w1280/yOm993lsJyPmBodlYjgpPwBjXP9.jpg");
    background-position: cover;
    position: relative;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
}
.searchbtn{
    width: 35%;
    min-width: 300px;

}
